# Configurações do Banco de Dados
DB_CONNECTION=postgresql://postgres:senha@usuario:porta/nome_do_banco_de_dados

# Opcional: Você pode colocar a URL alvo aqui também se quiser limpar o código
URL_ALVO="https://sistemas.lavras.mg.gov.br/portalcidadao/"